

#education{
    width: 100%;
    height: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    margin-top: 50px;
    margin-bottom: 100px;
    user-select: none;
}

#educationTopic{
    font-size: 64px;
    font-family: "Russo One", sans-serif;
    background: linear-gradient(-90deg, #0EA2E7 0% ,#0A71EF 12.5%, #433FE4 25% , #af05ed 37.5%, #AF05ED 50% ,
                                #7412DA 62.5%, #433FE4 75% ,#0A71EF 87.5% ,#0EA2E7 100%);
    background-size: 70vw 70vw;
    animation: EduTopicAnim 10s linear infinite forwards;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-bottom: 120px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
@keyframes EduTopicAnim {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 70vw;
    }
}

#educationTimeLineContainer{
    width: 80%;
    height: 870px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.eduLeftCards, .eduRightCards{
    position: relative;
    width: 35%;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 1px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.eduLeftCards{
    background:
            linear-gradient(220deg, #31064e, #000000FF) padding-box,
            linear-gradient(220deg, #0EA2E7, #AF05ED) border-box;

    right: 25%;
}

.eduLeftCards:hover{
    background:
            linear-gradient(220deg, #3f0765, #260638) padding-box,
            linear-gradient(220deg, #0EA2E7, #AF05ED) border-box;
}

.eduRightCards{
    background:
            linear-gradient(60deg, #31064e, #000000FF) padding-box,
            linear-gradient(60deg, #0EA2E7, #AF05ED) border-box;

    left: 25%;
}

.eduRightCards:hover{
    background:
            linear-gradient(60deg, #3f0765, #260638) padding-box,
            linear-gradient(60deg, #0EA2E7, #AF05ED) border-box;
}

.eduCardIcon{
    width: 64px;
    aspect-ratio: 1/1;
    margin: 20px;
}

.eduLeftCardDisc{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
}

.eduRightCardDisc{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
}

.eduYears{
    font-size: 28px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.eduDisc{
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.eduLeftCardDisc > .eduDisc{
    text-align: end;
}


.eduCardIcon > img{
    position: relative;
    top: 5px;
}


/********************* time Line ************************/

#eduTimeLine{
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    width: 4px;
    height: 600px;
    background: linear-gradient(to bottom, #0EA2E7, #AF05ED);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

#eduTimeLineDot1{
    background-color: #0EA2E7;
}

#eduTimeLineDot2{
    background-color: #456CE9;
}

#eduTimeLineDot3{
    background-color: #783BEB;
}

#eduTimeLineDot4{
    background-color: #AF05ED;
}

.eduTimeLineDots{
    width: 18px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    left: -7px;
}