

@media all and (max-width: 1080px) {
    #educationTimeLineContainer{
        width: 95%;
    }
}

@media all and (max-width: 910px){

    #educationTimeLineContainer{
        width: 100%;
    }

    .eduYears{
        font-size: 24px;
    }

    .eduDisc{
        font-size: 18px;
    }

    .eduCardIcon{
        margin: 5px;
    }
}

@media all and (max-width: 700px){

    #education{
        height: 1100px;
    }

    #eduTimeLine{
        display: none;
    }

    .eduCardIcon{
        margin-bottom: -10px;
    }

    .eduLeftCards, .eduRightCards{
        left: 0;
        right: 0;
        width: 70%;
        height: 130px;
        margin-bottom: 30px;
    }

}

@media all and (max-width: 480px){

    #educationTopic{
        font-size: calc(100vw / 8);
        margin-bottom: 40px;
    }

    #education{
        height: 900px;
    }

    .eduCardIcon{
        margin-bottom: -20px;
    }

    .eduLeftCards, .eduRightCards{
        width: 93%;
        height: 110px;
        margin-bottom: 20px;
        border-radius: 15px;
    }

    .eduLeftCards:hover, .eduRightCards:hover{
        scale: 101%;
        box-shadow: 0 0 13px 2px rgb(158, 14, 204);
    }

    .eduYears{
        font-size: 22px;
    }

    .eduDisc{
        font-size: 16px;
    }

}