
/********** grid layout implementation **********/

#about{
    width: 100vw;
    height: 1100px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

#gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    width: 90vw;
    height: 1000px;
}

.gridSections{
    /*margin: 0 10px;*/
    border-radius: 20px;
    background: linear-gradient(225deg, rgba(46, 5, 73, 0.6), rgba(16, 5, 24, 0.6));
    box-sizing: border-box;
    border: #2a252d solid 1px;
    position: relative;
    bottom: 0;
    transition-duration: 600ms;
}

.gridSections:hover{
    bottom: 10px;
    box-shadow: 0 0 10px 1px rgb(191, 0, 255);
    background: linear-gradient(225deg, rgba(46, 5, 73, 0.7), rgba(16, 5, 24, 0.7));
}


.gridSectionIconHolders{
    background-color: #7D7E82;
    width: 50px;
    height: 49px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 12px;
    transition-duration: 500ms;
}

.gridSectionIcons{
    background-color: #35383D;
    width: 48px;
    height: 45px;
    position: absolute;
    top: 3px;
    left: 1px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridSection1{
    grid-row: 1/3;
    height: 620px;
}
#gridSection2{
    text-align: center;
    grid-column: 2/4;
    height: 290px;
}
#gridSection3{
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}
#gridSection4{
    grid-column: 3/4;
    grid-row: 2/4;
    height: 620px;
    margin-top: -20px;
    color: #ffffff;
    overflow: hidden;
}
#gridSection5{
    grid-column: 1/3;
    height: 290px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    padding-left: 30px;
    overflow: hidden;
    margin-top: -20px;
}

/********** grid section 1 implementation ************/

#gridSection1:hover > #gridSection1BigIconHolder1{
    scale: 108%;
}


/********** grid section 2 implementation ************/

#fullName{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 64px;
    font-family: Russo One , serif;
    background: linear-gradient(-90deg, #0EA2E7 0% ,#0A71EF 12.5%, #433FE4 25% ,#7412DA 37.5%, #AF05ED 50% ,
                                #7412DA 62.5%, #433FE4 75% ,#0A71EF 87.5% ,#0EA2E7 100%);
    background-size: 100vw 100vw;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition-duration: 1500ms;
    animation: FullNameAnim 15s linear infinite forwards;
}

@keyframes FullNameAnim {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100vw;
    }
}

#gridSection2:hover > #fullName{
    font-size: 68px;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
}

#aboutMeText{
    position: absolute;
    top: 135px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 22px;
    font-family: Grandstander, system-ui;
    width: 70%;
    color: #ffffff;
    transition-duration: 500ms;
}

#gridSection2:hover > #aboutMeText{
    text-shadow: 0 0 15px rgba(221, 98, 250, 0.6);
}

#aboutMeSocialIconContainer{
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.aboutMeSocialIcons{
    font-size: 32px;
    transition-duration: 300ms;
    color: #ffffff;
}

#aboutMeSocialIconLN:hover{
    font-size: 35px;
    color: #009dff;
}
#aboutMeSocialIconGH:hover{
    font-size: 35px;
    color: #9513ed;
}
#aboutMeSocialIconFB:hover{
    font-size: 35px;
    color: #0865FE;
}

#aboutMeSocialIconContainer > a {
    width: 50px;
    aspect-ratio: 1/1;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/************ grid section 3 implementation *********/

#gridSection3Text{
    color: #ffffff;
    font-family: Henny Penny, system-ui;
    font-size: 28px;
    line-height: 1.5;
    width: 80%;
    text-align: center;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: auto;
    transition-duration: 800ms;

}

#gridSection3:hover > #gridSection3Text{
    top: 45px;
    text-shadow: 0 0 20px #e63adf;
}

#gridSection3ContactButton{
    text-decoration: none;
    color: #000000;
    width: 155px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    transition-duration: 500ms;
}

#gridSection3ContactButton:hover{
    color: #ffffff;
    background-color: #052cc4;
    bottom: 33px;
}

#gridSection3ContactButton > div{
    font-size: 22px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    position: relative;
    top: 10px;
}


/************ grid section 4 implementation *********/

#gridSection4ContactHolder{
    font-family: Inter, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 800ms;
}

.gridSection4ContactIcons{
    font-size: 18px;
    margin: 0 5px;
}

.gridSection4Contacts{
    margin-top: 20px;
    text-align: right;
}

#gridSection4GlobeHolder{
    width: 500px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: -120px;
    right: -110px;
}

#globeCanvas{
    width: 100%;
    height: 100%;
}

#gridSection4:hover > #gridSection4BigIconHolder1{
    scale: 108%;
}

/************ grid section 5 implementation *********/

#gridSection5Text{
    font-size: 14px;
    transition-duration: 500ms;
    position: absolute;
    bottom: 15px;
    z-index: 2;
}

#gridSection5HiddenText{
    font-size: 18px;
    transition-duration: 500ms;
    position: absolute;
    bottom: -25px;
    z-index: 2;
}

#gridSection5:hover > #gridSection5Text{
    text-shadow: 0 0 10px #fff;
    bottom: 35px;
}

#gridSection5:hover > #gridSection5HiddenText{
    text-shadow: 0 0 10px #fff;
    bottom: 10px;
}

#gridSection5ImgHolder{
    position: relative;
    left: 55%;
    width: 300px;
    aspect-ratio: 1/1;
}

#gridSection5Img1, #gridSection5Img2, #gridSection5Img3{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    transition-duration: 800ms;
    overflow: hidden;

    background:
            linear-gradient(#11021b, #11021b) padding-box,
            linear-gradient(to top, #0EA2E7 30%, #AF05ED) border-box;
    padding: 1px;
    border: 2px solid transparent;
}

#gridSection5Img1{
    right: 210px;
    bottom: -130px;
}

#gridSection5Img2{
    z-index: 1;
    right: 200px;
    bottom: -90px;
}

#gridSection5Img3{
    right: 190px;
    bottom: -130px;
}

#gridSection5:hover #gridSection5Img1{
    right: 310px;
    rotate: -35deg;
    bottom: -100px;
}
#gridSection5:hover #gridSection5Img3{
    right: 90px;
    rotate: 35deg;
    bottom: -100px;
}

#gridSection5:hover #gridSection5Img2{
    bottom: -60px;
}

#gridSection5Img2:hover, #gridSection5Img1:hover, #gridSection5Img3:hover{
    scale: 108%;
}

#gridSection5:hover > #gridSection5BigIconHolder1{
    scale: 105%;
}

