
#blackHole{
    position: relative;
    width: 100vw;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    mix-blend-mode:  lighten;
    mask-image: linear-gradient(to top, transparent, #000 30% 70%, transparent);
}

#blackHoleVid{
    width: 100%;
    z-index: -10;
}

#blackHole > div{
    position: absolute;
    top: 25%;
}