

#contact{
    scroll-margin-top: -450px;
    margin-top: 100px;
    width: 100vw;
    height: 1250px;
}

#contactDescription{
    width: 100%;
    height: 550px;
    /*margin: auto;*/
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactDiscText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactLogo{
    font-family: Ewert, sans-serif;
    font-size: 70px;
    background: linear-gradient(60deg, #0EA2E7 20%, #433FE4, #AF05ED 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#contactDiscText{
    text-align: center;
    color: white;
    margin-top: 50px;
}

#contactDiscText > div {
    margin-bottom: 40px;
}

#contactText1{
    font-size: 60px;
    font-family: Playfair Display, serif;
}

#contactText2{
    font-size: 90px;
    font-family: Roboto, serif;
    font-weight: bold;
    position: relative;
    top: 8px;
    display: inline-block;
}

#contactText3{
    font-size: 40px;
    font-family: Playfair Display, serif;
}

#contactText4{
    font-size: 40px;
    font-family: Pacifico, serif;
    position: relative;
    top: 5px;
    background: linear-gradient(-90deg, #0EA2E7 0% ,#0A71EF 12.5%, #433FE4 25% ,#7412DA 37.5%, #AF05ED 50% ,
                                #7412DA 62.5%, #433FE4 75% ,#0A71EF 87.5% ,#0EA2E7 100%);
    background-size: 70vw 70vw;
    animation: contactTextAnim 8s linear infinite forwards;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
}
@keyframes contactTextAnim {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 70vw;
    }
}

/* *************************** */

#contactGridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 700px;
    margin: auto;
}

#contactTextContainer{
    padding-left: 30px;
    transition-duration: 500ms;
    /*background-color: blue;*/
}

#contactFormContainer{
    padding: 10px 40px;
    transition-duration: 500ms;
    /*background-color: red;*/
}

#contactText5{
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family: "Source Serif 4", serif;

    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

#contactText6{
    font-size: 55px;
    font-family: Playball, cursive;
    background: linear-gradient(-90deg, #0EA2E7 0% ,#0A71EF 12.5%, #433FE4 25% ,#7412DA 37.5%, #AF05ED 50% ,
                                #7412DA 62.5%, #433FE4 75% ,#0A71EF 87.5% ,#0EA2E7 100%);
    background-size: 100vw 100vw;
    animation: contactText2Anim 8s linear infinite forwards;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}
@keyframes contactText2Anim {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100vw;
    }
}

#contact3dContainer{
    width: 65% !important;
    height: 55% !important;
    position: relative;
    top: 100px;
    margin-left: 50px;
    display: block;
}


/* *************************** */


#contactForm{
    position: relative;
    height: 105%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: #2B2B2B solid 1px;
    border-radius: 30px;
    background: linear-gradient(230deg, rgba(60, 0, 100, 0.7) 20%, rgba(21, 2, 33, 0.7) 80%);
}

.contactFormInfo{
    width: 80%;
    height: 90px;
    margin-top: 10px;
    color: white;
    font-family: "Inter", sans-serif;
}

.contactFormInfo > label{
    margin-left: 3px;
}

#contactFormTopic{
    width: 80%;
    color: white;
    text-align: center;
    height: 40px;
    font-family: "Source Serif 4", serif;
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0 ;
}

.contactFormInfo > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    margin-top: 5px;
    background: linear-gradient(90deg , rgba(67, 63, 228, 0.2), rgba(148, 19, 235, 0.2));
}

.contactInfoIcons{
    font-size: 20px;
    color: #9a9a9a;
    transition-duration: 400ms;
}

.contactInputs{
    font-size: 14px;
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    transition-duration: 1000ms;
}

.contactInputs::placeholder{
    transition-duration: 400ms;
}

.contactInputs:focus::placeholder{
    color: transparent;
}

#contactMessage{
    width: 90%;
    height: 180px;
    resize: none;
}

#contactForm > div:nth-child(5) > div{
    align-items: start;
    padding-top: 13px;
    height:200px;
}

#contactSubmitBtn{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    height: 45px;
    width: 60%;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    background: linear-gradient(90deg , rgba(67, 63, 228, 0.2), rgba(148, 19, 235, 0.2));
    border: none;
    outline: none;
    border-radius: 8px;
}