
/* footer margin-top changed in textStyles.css */
#footer{
    width: 100vw;
    height: 740px;
    margin-top: 200px;
    position: relative;
    overflow: hidden;
}

#footerImgHolder{
    width: 100%;
    height: 550px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    pointer-events: none;
}

#mountains{
    position: absolute;
    width: 1540px;
    bottom: 0;
}

#footerBlackGradient{
    width: 100%;
    height: 180px;
    background: linear-gradient(rgba(0, 0, 0, 0), black 60%);
    position: absolute;
    bottom: 0;
}

#infoContainer{
    width: 90%;
    height: 200px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);

    border-radius: 20px;

    background: rgba(48, 31, 61, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}


#footerContactSection{
    height: 150px;
    width: 100%;
    color: #ffffff;
    position: absolute;
    left: 5vw;
    top: 20px;
}

#footerLogo{
    font-size: 55px;
    font-family: Ewert, serif;
    margin-bottom: 30px;
    user-select: none;
}

#footerContactHolder{
    width: 260px;
    font-family: Inter, sans-serif;
}

.footerContactIcons{
    font-size: 18px;
}

.footerContacts{
    margin-bottom: 10px;
}

#footerGeneralSocialContainer{
    width: 370px;
    height: 200px;
    position: absolute;
    top: 20px;
    right: 5vw;
    font-family: Inter, sans-serif;
}


#footerGeneral{
    position: absolute;
    left: 0;
}

#footerSocial{
    position: absolute;
    right: 0;
}

.footerTopics{
    font-size: 20px;
    color: #ffffff;
    text-decoration: underline;
    user-select: none;
}

.footerLists{
    list-style-type: none;
    position: relative;
    right: 35px;
}

.footerLists > li{
    height: 22px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.footerLists > #footerSocialIconFB, #footerSocialIconLN, #footerSocialIconGH{
    margin: 10px 0;
}

.footerLists > li > a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    transition-duration: 500ms;
}

.footerSocialIcons{
    font-size: 24px;
}

#footerSocialIconFB > a:hover{
    color: #0865FE;
    font-size: 18px;
}

#footerSocialIconGH > a:hover{
    color: #aa00ff;
    font-size: 18px;
}

#footerSocialIconLN > a:hover{
    color: #009dff;
    font-size: 18px;
}

.footerLinks > a:hover{
    color: #AF05ED;
    font-size: 18px;
}