
#hero{
    padding-top: 80px;
    height: 130vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    user-select: none;
    pointer-events: none;
}

#heroTextHolder{
    width: 90%;
    height: 500px;
    text-align: center;
    padding: 40px;
    position: relative;
    top: 35%;
    transform: translate(0, -50%);
}

#introText{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 25%;
    transform: translate(0, -50%);
    left: 12vw;
    font-family: Inter, serif;
    letter-spacing: 3px;
}

#name{
    font-size: calc(100vw / 7.5 );
    position: relative;
    top: 100px;
    font-family: Russo One , serif;
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.4);
}

/*#writer{*/
/*    font-size: 30px;*/
/*    position: relative;*/
/*    top: 140px;*/
/*    font-family: serif;*/
/*    font-style: italic;*/
/*}*/

#orbitBox{
    width: 100vw;
    height: 300px;
    position: absolute;
    bottom: 30vh;
}

#orbitHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    mask-image: linear-gradient(to right, transparent, #000 10%, 90%, transparent);
}

#orbit1{
    width: 3660px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    top: 100px;
    background: linear-gradient(#380568 1%, black 6%);
}

#orbit2{
    width: 2900px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    top: 100px;
    box-shadow: 0 -25px 40px rgb(176 43 221 / 90%);
}

#heroBlackGradient{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 350px;
    z-index: 1;
    background-image: linear-gradient(to bottom, transparent, #000 44% 65%, transparent);
}

#orbitSpotLight{
    width: 1100px;
    height: 120px;
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translate(-50%);
    filter: blur(60px);
    background: radial-gradient(50% 50% at 50% 50%, #6c05c7 0%, rgba(0, 191, 255, 0) 100%);
    animation: orbitSpotLightAnim 5s infinite ease-in-out;
}

@keyframes orbitSpotLightAnim {
    0%{
        bottom: 160px;
    }
    50%{
        bottom: 130px;
    }
    100%{
         bottom: 160px;
     }
}

.heroSpotLights{
    width: 600px;
    height: 250px;
    position: absolute;
    top: 70px;
    background: radial-gradient(
            circle at center,
            rgba(168, 19, 255, 0.5) 0%,
            rgba(65, 105, 225, 0) 70%
    );
    filter: blur(140px);
    border-radius: 50%;
    z-index: 2;
}

#leftSpotLight{
    transform: rotate(45deg);
    left: -180px;
    animation: leftSpotLightAnim 8s infinite ease-in-out;
}

@keyframes leftSpotLightAnim {
    0%{
        top: 120px;
        left: -180px;
    }
    50%{
        top: 60px;
        left: -10px;
    }
    100%{
        top: 120px;
        left: -180px;
    }
}

#rightSpotLight{
    transform: rotate(-45deg);
    right: -180px;
    animation: rightSpotLightAnim 8s infinite ease-in-out;
}

@keyframes rightSpotLightAnim {
    0%{
        top: 120px;
        right: -180px;
    }
    50%{
        top: 60px;
        right: -10px;
    }
    100%{
        top: 120px;
        right: -180px;
    }
}