
#hero{
    margin-top: 80px;
    height: 900px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heroTextHolder{
    width: 90%;
    height: 500px;
    text-align: center;
    padding: 40px;
}

#introText{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 180px;
    left: 20vw;
    font-family: Inter, serif;
    letter-spacing: 3px;
}

#name{
    font-size: 150px;
    position: relative;
    top: 110px;
    font-family: Russo One , serif;
}

#writer{
    font-size: 30px;
    position: relative;
    top: 140px;
    font-family: serif;
    font-style: italic;
}

#orbitBox{
    width: 100vw;
    height: 300px;
    position: relative;
    bottom: 90px;
}

#orbitHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 -40px 50px 60px #000;
}

#orbit1{
    width: 3660px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    top: 100px;
    background: linear-gradient(#470882 1%, black 5%);
    z-index: -1;
}

#orbit2{
    width: 2900px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    top: 100px;
    box-shadow: 0 -30px 40px #a62bdd;
    z-index: -1;
}
