
#hero{
    margin-top: 80px;
    height: 900px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heroTextHolder{
    width: 90%;
    height: 500px;
    text-align: center;
    padding: 40px;
}

#introText{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 180px;
    left: 20vw;
    font-family: Inter, serif;
    letter-spacing: 3px;
}

#name{
    font-size: 150px;
    position: relative;
    top: 110px;
    font-family: Russo One , serif;
}

#writer{
    font-size: 30px;
    position: relative;
    top: 140px;
    font-family: serif;
    font-style: italic;
}

#orbitBox{
    width: 100vw;
    height: 300px;
    position: relative;
    bottom: 90px;
}

#orbitHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 -40px 50px 60px #000;
}

#orbit1{
    width: 3660px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    top: 100px;
    background: linear-gradient(#380568 1%, black 5%);
    z-index: -1;
}

#orbit2{
    width: 2900px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    top: 100px;
    box-shadow: 0 -30px 40px #a62bdd;
    z-index: -1;
}

#orbitSpotLight{
    width: 900px;
    height: 120px;
    position: absolute;
    bottom: 190px;
    left: 50%;
    transform: translate(-50%);
    filter: blur(60px);
    background: radial-gradient(50% 50% at 50% 50%, #620a8c 0%, rgba(0, 191, 255, 0) 100%);
    animation: orbitSpotLightAnim 5s infinite ease-in-out;
}

@keyframes orbitSpotLightAnim {
    0%{
        bottom: 200px;
    }
    50%{
        bottom: 160px;
    }
    100%{
         bottom: 200px;
     }
}

.heroSpotLights{
    width: 550px;
    height: 300px;
    position: absolute;
    top: 50px;
    filter: blur(60px);
    background: radial-gradient(50% 50% at 50% 50%, rgba(99, 10, 140, 0.49) 0%, rgba(0, 191, 255, 0) 100%);
    border-radius: 50%;
}

#leftSpotLight{
    transform: rotate(45deg);
    left: -100px;
}

#rightSpotLight{
    transform: rotate(-45deg);
    right: -100px;
}