

@media all and (max-width: 1200px) {

    #introText{
        left: 10vw;
    }
    #name{
        font-size: calc(100vw / 8 );
    }
}

@media all and (max-width: 900px) {

    #introText{
        font-size: 32px;
    }

    #name{
        font-size: calc(100vw / 7 );
    }

    #writer{
        font-size: 24px;
    }

    .heroSpotLights{
        width: 400px;
        background: radial-gradient(
                circle at center,
                rgb(169 32 249 / 70%) 0%,
                rgba(65, 105, 225, 0) 70%
        );
    }
}

@media all and (max-width: 710px){

    #introText{
        font-size: 26px;
    }

    .heroSpotLights{
        width: 300px;
        height: 200px;
        background: radial-gradient(
                circle at center,
                rgb(169 32 249 / 90%) 0%,
                rgba(65, 105, 225, 0) 70%
        );
    }

}

@media all and (max-width: 570px){

    #orbitHolder{
        mask-image: none;
    }

    #heroTextHolder{
        width: 100%;
    }

    #introText{
        font-size: 20px;
        top: 220px;
    }

    #name{
        top: 140px;
    }

    #writer{
        font-size: 20px;
        top: 210px;
    }

    .heroSpotLights{
        width: 200px;
        top: 70px;
        aspect-ratio: 1/1;
        filter: blur(100px);
    }

    #leftSpotLight{
        animation: none;
        left: 60%;
    }

    #rightSpotLight{
        animation: none;
        right: 60%;
    }
}