
*{
    box-sizing: border-box;
}

body{
    background: #000;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 6px; /* Very narrow */
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(76, 8, 134, 0.5); /* Semi-transparent */
    border-radius: 10px;
}

nav{
    width: 100vw;
    height: 84px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
}

#logo{
    margin-left: calc(5vw);
    font-family: Ewert, sans-serif;
    font-size: 45px;

    background: linear-gradient(60deg, #0EA2E7 20%, #433FE4, #AF05ED 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav > section{
    border: #453d4e solid 2px;
    width: 440px;
    height: 40px;
    padding: 5px 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(63, 59, 63, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

}

.navTabs{
    text-decoration: none;
    margin: 0 5px;
    color: #ffffff;
    font-family: sans-serif , system-ui;
    font-weight: bold;
    font-size: 16px;
    transition-duration: 400ms;
    padding: 5px 12px;
    border-radius: 5px;
}

.navTabs:hover{
    background-color: #671c9566;
}

