
*{
    box-sizing: border-box;
}

::selection{
    color: rgba(0, 0, 0, 0.8);
    background-color: rgb(218 0 255 / 50%);
}

nav{
    width: 100vw;
    height: 84px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    user-select: none;
}

#logo{
    margin-left: calc(5vw);
    font-family: Ewert, sans-serif;
    font-size: 45px;

    background: linear-gradient(-90deg, #0EA2E7 0% ,#0A71EF 12.5%, #433FE4 25% , #af05ed 37.5%, #AF05ED 50% ,
                                #7412DA 62.5%, #433FE4 75% ,#0A71EF 87.5% ,#0EA2E7 100%);
    background-size: 320px 320px;
    animation: navLogoAnim 8s linear infinite forwards;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

@keyframes navLogoAnim {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 320px;
    }
}

/*    modified nav bar width at aboutMEStyles.css*/
#navbar{
    border: #453d4e solid 2px;
    width: 440px;
    height: 40px;
    padding: 5px 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(63, 59, 63, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.navTabs{
    text-decoration: none;
    margin: 0 5px;
    color: #ffffff;
    font-family: sans-serif , system-ui;
    font-weight: bold;
    font-size: 16px;
    transition-duration: 400ms;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#sideBar{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: rgb(57 23 57 / 50%);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 70px 0 0 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
    animation: slidInRight 0.7s ease-out ;
}

@keyframes slidInRight {
    0%{
        right: -100px;
        opacity: 10%;
    }
    100%{
        right: 0;
        opacity: 100%;
    }
}

@keyframes slidOutRight {
    0%{
        right: 0;
        opacity: 100%;
    }
    100%{
        right: -100px;
        opacity: 0;
    }
}

#sideBar > .navTabs{
    width: 40%;
}

#sideBar > .navTabs:hover{
    background-color: rgba(116, 18, 138, 0.3);
}

#sidebarCloseIcon{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 25px;
    right: 25px;
    border-radius: 50%;
}

.navTabs:hover{
    background-color: #671c9566;
}

.navLinks{
    user-select: none;
}

#navBarIcon {
    color: #fff;
    position: absolute;
    right: 20px;
    font-size: 22px;
    display: none;
}

@keyframes slidInRightNavIcon {
    0%{
        right: -100px;
        opacity: 10%;
    }
    100%{
        right: 20px;
        opacity: 100%;
    }
}

@keyframes slidOutRightNavIcon {
    0%{
        right: 20px;
        opacity: 100%;
    }
    100%{
        right: -100px;
        opacity: 0;
    }
}

@media all and (max-width: 800px) {

    nav{
        background: rgb(78 22 78 / 20%);
        backdrop-filter: blur(10px);
    }

    #navBarIcon{
        display: block;
    }

    #navbar{
        display: none;
    }
}

@media all and (max-width: 400px) {
    #sideBar{
        width: 100vw !important;
    }
}