

#project{
    width: 100%;
    height: 850px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#projectTopic{
    font-size: 64px;
    font-family: "Russo One", sans-serif;
    font-weight: bold;
    background: linear-gradient(-90deg, #0EA2E7 0% ,#0A71EF 12.5%, #433FE4 25% ,#7412DA 37.5%, #AF05ED 50% ,
                                #7412DA 62.5%, #433FE4 75% ,#0A71EF 87.5% ,#0EA2E7 100%);
    background-size: 70vw 70vw;
    animation: ProjectTopicAnim 10s linear infinite forwards;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 150px;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}
@keyframes ProjectTopicAnim {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 70vw;
    }
}

.projectCardContainer{
    width: 90%;
    height: 500px;
    /*border: red solid 1px;*/
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, #000000 10% 90%, transparent);
}

#projectCardList{
    display: flex;
    position: relative;
    width: 100%;
    min-width: calc(290px * 4);
}

.projectCards{
    width: 290px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 25px;
    left: 100%;
    background:
            linear-gradient(#11021b, #11021b) padding-box,
            linear-gradient(to bottom, #0EA2E7, #AF05ED) border-box;
    padding: 1px;
    border: 2px solid transparent;
    animation: projectCardSlider 10s linear infinite;
    transition-duration: 500ms;
}

.projectCards::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 20px;
    transition-duration: 500ms;
}

.projectCards:hover::before{
    filter: blur(15px);
    opacity: 90%;
    padding: 2px;
    background: conic-gradient(#0EA2E7, #AF05ED ,#0EA2E7, #AF05ED ,#0EA2E7);
}

.projectCards:hover{
    top: 20px;
    background:
            linear-gradient(#220633, #220633) padding-box,
            linear-gradient(to bottom, #0EA2E7, #AF05ED) border-box;
}

.projectCardContainer .projectCards:nth-child(1){
    animation-delay: calc( 10s / 4 * (1 - 1) );
}
.projectCardContainer .projectCards:nth-child(2){
    animation-delay: calc( 10s / 4 * (2 - 1) );
}
.projectCardContainer .projectCards:nth-child(3){
    animation-delay: calc( 10s / 4 * (3 - 1) );
}
.projectCardContainer .projectCards:nth-child(4){
    animation-delay: calc( 10s / 4 * (4 - 1) );
}

@keyframes projectCardSlider {
    0%{
        left: 100%;
    }
    100%{
        left: -25%;
    }
}


/*@media (hover: hover) {*/
/*    .projectCardContainer:hover .projectCards{*/
/*        animation-play-state: paused !important;*/
/*    }*/
/*}*/

.projectCardContainer:active .projectCards{
    animation-play-state: paused !important;
}

.projectImgs{
    width: 90%;
    height: 160px;
    margin-top: 12px;
    border-radius: 15px;
    border: #323232 solid 1px;
}

#projectImg1{
    background: url("../assets/itemManagement.webp") no-repeat center;
    background-size: cover;
}
#projectImg2{
    background: url("../assets/zombieGame.png") no-repeat center;
    background-size: cover;
}
#projectImg3{
    background: url("../assets/orderManagement.png") no-repeat center;
    background-size: cover;
}
#projectImg4{
    background: url("../assets/orderManagement.png") no-repeat center;
    background-size: cover;
}

.projectTopics{
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    text-align: center;
    margin-top: 15px;
    height: 70px;
}

.projectDescriptions{
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 90%;
    text-align: center;
    height: 100px;
    margin-top: 5px;
}

.projectBtns{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(14, 162, 231, 0.2), rgba(175, 5, 237, 0.2));
    border: rgba(46, 28, 238, 0.7) solid 1px;
    text-decoration: none;
    text-align: center;
    padding-top: 9px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 500ms;
}


.projectBtns:hover{
    background: rgba(46, 28, 238, 0.8);
    box-shadow: 0 0 5px 1px rgba(46, 28, 238, 0.8);
}

/*********************************************************/

@media all and (max-width: 700px){
    .projectCardContainer{
        width: 98%;
    }
}

@media all and (max-width: 600px) {
    #projectTopic{
        font-size: 44px;
        margin-bottom: 50px;
    }
    .projectCardContainer{
        mask-image: none;
    }

    .projectCards{
        animation: projectCardSlider2 10s linear infinite;
    }

    @keyframes projectCardSlider2 {
        0%{
            left: 60%;
        }
        100%{
            left: -60%;
        }
    }
}

@media all and (max-width: 400px){
    .projectCards{
        width: 270px;
        height: 400px;
    }

    .projectTopics{
        font-size: 20px;
    }

    .projectDescriptions{
        font-size: 14px;
    }

    .projectBtns{
        width: 110px;
        height: 35px;
        border-radius: 8px;
        font-size: 16px;
        position: relative;
        bottom: 10px;
        padding-top: 8px;
    }

    .projectIcons{
        font-size: 18px;
    }
}