

#Service{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
    margin-top: 100px;
    user-select: none;
}

#serviceTopic{
    font-size: 64px;
    font-family: "Russo One", sans-serif;
    font-weight: bold;
    background: linear-gradient(-90deg, #0EA2E7 0% ,#0A71EF 12.5%, #433FE4 25% ,#7412DA 37.5%, #AF05ED 50% ,
                                #7412DA 62.5%, #433FE4 75% ,#0A71EF 87.5% ,#0EA2E7 100%);
    background-size: 80vw 80vw;
    animation: ServiceTopicAnim 8s linear infinite forwards;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    margin-bottom: 50px;
}
@keyframes ServiceTopicAnim {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 80vw;
    }
}


#serviceGrid{
    height: 95%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.serviceCards{
    border-radius: 15px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 10px;
    position: relative;
    bottom: 0;
    margin: 10px;
    background: linear-gradient(220deg, rgba(85, 9, 135, 0.5), rgba(0, 0, 0, 0.5));
    border: #27182E solid 1px;
    transition-duration: 400ms;
}

.serviceCards:hover{
    bottom: 20px;
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px 2px rgb(191, 0, 255);
    background: linear-gradient(220deg, rgba(85, 9, 135, 0.7), rgba(0, 0, 0, 0.7));
}

.serviceIcons{
    margin-bottom: 10px;
    pointer-events: none;
}

.serviceTopic{
    font-size: 28px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #fff;
    transition-duration: 600ms;
}

.serviceCards:hover > .serviceTopic{
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.serviceCards:hover > .serviceDesc{
    text-shadow: 0 0 10px rgba(184, 44, 253, 0.6);
}

.serviceDesc{
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #fff;
    transition-duration: 600ms;
}