

#Service{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

#serviceGrid{
    height: 95%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.serviceIcons{
    margin-bottom: 10px;
}

.serviceCards{
    border-radius: 15px;
    width: 90%;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 10px;
    position: relative;
    bottom: 0;
    background: linear-gradient(220deg, rgba(85, 9, 135, 0.5), rgba(0, 0, 0, 0.5));
    border: #27182E solid 1px;
    transition-duration: 400ms;
}

.serviceCards:hover{
    bottom: 20px;
    box-shadow: 0 0 15px 2px rgb(191, 0, 255);
    background: linear-gradient(220deg, rgba(85, 9, 135, 0.7), rgba(0, 0, 0, 0.7));
}

.serviceTopic{
    font-size: 30px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #fff;
    transition-duration: 600ms;
}

.serviceCards:hover > .serviceTopic{
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.serviceCards:hover > .serviceDesc{
    text-shadow: 0 0 10px rgba(184, 44, 253, 0.6);
}

.serviceDesc{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #fff;
    transition-duration: 600ms;
}