

:root{
    --shootingStarDeg: -35deg;
}

/*@property --shootingStarDeg {*/
/*    inherits: false;*/
/*    syntax: "<angle>";*/
/*    initial-value: -35deg;*/
/*}*/

#shootingStarBox-Header{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#shootingStarBox-Footer{
    width: 100vw;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border: blue solid 2px;
}

.shootingStar {
    display:block;
    width:6px;
    height:6px;
    border-radius:50%;
    background:#FFF;
    top:100px;
    /*left:400px;*/
    position:relative;
    transform-origin:100% 0;
    animation:star-ani 70s infinite ease-out;
    animation-direction: normal;
    opacity:0;
}

.shootingStar:after {
    content:'';
    position:absolute;
    top:0px;
    left:4px;
    border:2px solid #F00;
    border-width:4px 150px 4px 150px;
    border-color:transparent transparent transparent #FFF;
    transform:rotate(var(--shootingStarDeg)) translate3d(1px, -1px, 0);
    transform-origin:0% 100%;
    animation:shooting-ani 70s infinite  ease-out;
    animation-direction: normal;

    --shootingStarDeg: calc( -45deg );
}

.pinkStar {
    background: #a10096;
    /*animation-delay:1.8s;*/
}
.pinkStar:after {
    border-color:transparent transparent transparent #a10096;
    /*animation-delay:1.8s;*/
}

#shootingStar1, #shootingStar5{
    top: -100px;
    left: 45vw;
    animation-delay: 3s;
}

#shootingStar2, #shootingStar6{
    top: 0;
    left: 60vw;
    animation-delay: 7s;
}

#shootingStar3, #shootingStar7{
    top: 0;
    left: 80vw;
    animation-delay: 1s;
}

#shootingStar4{
    top: 300px;
    left: 100vw;
    animation-delay: 5s;
}

#shootingStar8{
    top: 30px;
    left: 110vw;
    animation-delay: 5s;
}

@keyframes shooting-ani {
    0% {
    }
    30%{
        scale: 150%;
    }
    50% {
        transform:scale(1) rotate(var(--shootingStarDeg)) translate(0px, 0px);
    }
    100% {
        transform:scale(0.5) rotate(var(--shootingStarDeg)) translate(0px, -2px);
    }
}

@keyframes star-ani {
    0% {
        opacity:0;
        transform:scale(0) rotate(0) translate3d(0, 0, 0);
    }
    20% {
        opacity:1;
    }
    60%{
        scale: 150%;
        opacity:0;
    }
    100% {
        transform:scale(1) rotate(0) translate3d(-400vw, 400vh, 0);
    }
}


/*****************************************************************/

@media all and (max-width: 800px) {
    :root{
        --shootingStarDeg: 100deg;
    }
}

@media all and (max-width: 550px){
    #shootingStarBox-Footer{
        top: 200px;
    }
}

@media all and (max-width: 480px){
    #shootingStarBox-Footer{
        top: 100px;
    }
}