#blackHole{
    position: relative;
    width: 100vw;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    mask-image: linear-gradient(to top, transparent, #000 30% 70%, transparent);
    mix-blend-mode: lighten;
    user-select: none;
}

#blackHoleVid{
    width: 100%;
    z-index: -10;
}

#skill{
    scroll-margin-top: 380px;
    width: 100vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -190px;
    user-select: none;
}

#skillTopic{
    color: #ffffff;
    z-index: 1;
}

#skillTopic1, #skillTopic3{
    font-family: "Russo One", sans-serif;
    font-size: 48px;
}

#skillTopic2{
    font-family: "Playball", cursive;
    font-size: 64px;
    margin-left: 4px;
    margin-right: -4px;
    background: linear-gradient(-90deg, #0EA2E7 0% ,#0A71EF 12.5%, #433FE4 25% ,#7412DA 37.5%, #AF05ED 50% ,
                                #7412DA 62.5%, #433FE4 75% ,#0A71EF 87.5% ,#0EA2E7 100%);
    background-size: 40vw 40vw;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: magicTextAnim 20s linear infinite forwards;

}
@keyframes magicTextAnim {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 70vw;
    }
}

#skillContainer{
    z-index: 1;
    width: 70vw;
    height: 300px;
    margin: 40px 0;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skillCards{
    width: 95px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 8px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    padding: 1px;
    border: 1px solid transparent;
    background:
            linear-gradient(#140d1c, #140d1c) padding-box,
            linear-gradient(to bottom, #0EA2E7, #AF05ED) border-box;
    transition-duration: 300ms;
}

.skillCards:hover{
    box-shadow: 0 0 8px 2px #4f1460;
    top: -5px;
    background:
            linear-gradient(#1d1426, #1d1426) padding-box,
            linear-gradient(to bottom, #0EA2E7, #AF05ED) border-box;
}

.skillIconHolder{
    width: 80px;
    aspect-ratio: 1/1;
    background-color: rgba(99, 4, 188, 0.5);
    padding: 5px;
    border-radius: 15px;
    margin: 5px 0;
}

.skillName{
    margin-bottom: 5px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
}