
@media all and (min-width: 990px){
    #skill{
        height: 600px;
    }
}

@media all and (max-width: 990px) {

    #skill{
        margin-top: -130px;
    }

    #skillContainer{
        width: 90vw;
    }

    .skillCards{
        scale: 90%;
        margin: 3px 7px;
    }
}

@media all and (max-width: 730px) {

    #skill{
        margin-top: -100px;
    }

    .skillCards{
        scale: 80%;
        margin: 2px 3px;
    }
}

@media all and (max-width: 565px){
    #skill{
        height: 800px;
    }
}

@media all and (max-width: 500px) {

    #skill{
        margin-top: -70px;
    }

    #skillTopic1, #skillTopic3{
        font-size: 32px;
    }

    #skillTopic2{
        font-size: 38px;
    }
}

@media all and (max-width: 450px) {

    #skill{
        height: 750px;
    }

    #skillContainer{
        width: 100vw;
        gap: 5px;
    }

    #skillTopic1, #skillTopic3{
        font-size: 26px;
    }

    #skillTopic2{
        font-size: 32px;
    }

    .skillCards{
        scale: 100%;
        width: 65px;
        margin: 0;
    }

    .skillIconHolder{
        width: 50px;
        aspect-ratio: 1/1;
    }

    .skillIconHolder > img{
        width: 50px;
    }

    .skillName{
        font-size: 10px;
        font-weight: normal;
    }
}