

.subTopics{
    opacity: 0;
    translate: 0 80px;
    transition: 1300ms ease;
}

.subTopics.subtopicShow{
    opacity: 100%;
    translate: 0 0;
}

.contactTopics{
    opacity: 0;
    translate: 0 50px;
    transition: 1500ms ease;
}

.contactTopics.contactTopicShow{
    opacity: 100%;
    translate: 0 0;
}

.spCards{
    scale: 70%;
    opacity: 0;
    transition: 1000ms ease-out;
    justify-items: center;
    width: 100%;
}

.spCards.spCardShow{
    opacity: 100%;
    scale: 100%;
}

.skCard{
    top: 90px;
    opacity: 0;
}

.skCard.skCardShow{
    top: 0;
    opacity: 100%;
}

.skCard.skCardShow:hover{
    top: -8px;
}

.rightSpawnCards{
    position: relative;
    right: -100px;
    opacity: 0;
}

.rightSpawnCards.rightSpawnCardsShow{
    right: 0;
    opacity: 100%;
}

.leftSpawnCards{
    position: relative;
    left: -100px;
    opacity: 0;
}

.leftSpawnCards.leftSpawnCardsShow{
    left: 0;
    opacity: 100%;
}
