
@media all and (max-width: 1100px) {
    #special{
        height: 350px;
    }

    #cardHolder{
        width: 95%;
        height: 250px;
        justify-content: space-evenly;
    }

    .specialCards{
        width: 230px;
        height: 260px;
    }

    .specialCardIconHolder{
        margin-top: 20px;
        width: 65px;
    }

    .specialCardIcon{
        font-size: 44px;
    }

    .specialCardHeader{
        font-size: 28px;
        margin-top: 25px;
    }

    .specialCardDescription{
        font-size: 18px;
        margin: 5px 10px;
    }
}


@media all and (max-width: 750px) {
    #special{
        height: 800px;
        margin-top: 200px;
    }

    #cardHolder{
        height: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .specialCards{
        width: 90%;
        border-radius: 25px;
    }

    .specialCards:hover{
        bottom: 5px;
    }

}
