

#special {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardHolder {
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.specialCards {
    width: 270px;
    height: 310px;
    position: relative;
    bottom: 0;
    /*background: linear-gradient(220deg, rgba(85, 10, 135, 0.7), rgba(0, 0, 0, 0.6));*/
    background: linear-gradient(220deg, #2c0a46, rgba(0, 0, 0));
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition-duration: 600ms;
}

@property --angle {
    inherits: false;
    syntax: "<angle>";
    initial-value: 100deg;
}

.specialCards::after, .specialCards::before{
    content: '';
    position: absolute;
    width: 100.5%;
    height: 100%;
    top: 50%;
    transform: translate(0 , -50%);

    background-color: #27182E;

    border-radius: 25px;
    z-index: -1;
    padding: 1px;
    transition-duration: 500ms;
    animation: borderRotate 2500ms linear infinite;
}

.specialCards:hover::after{
    padding: 1px;
    background: conic-gradient(from var(--angle), #0EA2E7, #AF05ED ,#0EA2E7, #AF05ED, #0EA2E7);
}

.specialCards:hover::before{
    filter: blur(15px);
    opacity: 90%;
    padding: 2px;background: conic-gradient(from var(--angle), #0EA2E7, #AF05ED ,#0EA2E7, #AF05ED ,#0EA2E7);
}

@keyframes borderRotate {
    from{
        --angle: -55deg;
    }
    to{
        --angle: 305deg;
    }
}

.specialCards:hover{
    bottom: 15px;
    background: linear-gradient(220deg, #3A075C, rgba(0, 0, 0));
}

.specialCardIconHolder {
    width: 90px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #b216ff;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialCardIcon{
    font-size: 48px;
}

.specialCardHeader{
    color: #ffffff;
    font-weight: bold;
    font-size: 34px;
    font-family: Roboto, sans-serif;
    margin-top: 35px;
}

.specialCardDescription{
    color: #ffffff;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    margin: 0 20px;
}
