

#about{
    width: 100vw;
    height: 1100px;
    display: flex;
    justify-content: center;
}

#gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85vw;
    height: 1000px;
}

.gridSections{
    margin: 0 10px;
    border-radius: 20px;
    background: linear-gradient(225deg, rgba(46, 5, 73, 0.8), rgba(16, 5, 24, 0.8));
    box-sizing: border-box;
    border: #2a252d solid 1px;
}

#gridSection1{
    grid-row: 1/3;
    height: 610px;
}
#gridSection2{
    position: relative;
    text-align: center;
    grid-column: 2/4;
    height: 290px;
}
#gridSection3{
    height: 290px;
}
#gridSection4{
    grid-column: 3/4;
    grid-row: 2/4;
    height: 610px;
}
#gridSection5{
    grid-column: 1/3;
    height: 290px;
}

#fullName{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 64px;
    font-family: Russo One , serif;
    background: linear-gradient(-90deg, #00AEFF, #BB00FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#aboutMeText{position: absolute;
    top: 135px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 22px;
    font-family: Grandstander, system-ui;
    width: 70%;
    color: #ffffff;
}

#aboutMeSocialIconContainer{
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.aboutMeSocialIcons{
    font-size: 32px;
    transition-duration: 300ms;
    color: #ffffff;
}

#aboutMeSocialIconLN:hover{
    font-size: 35px;
    color: #0787d2;
}
#aboutMeSocialIconGH:hover{
    font-size: 35px;
    color: #666667FF;
}
#aboutMeSocialIconFB:hover{
    font-size: 35px;
    color: #0865FE;
}

#aboutMeSocialIconContainer > div {
    width: 50px;
    aspect-ratio: 1/1;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

