
/********** grid layout implementation **********/

#about{
    width: 100vw;
    height: 1100px;
    display: flex;
    justify-content: center;
}

#gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85vw;
    height: 1000px;
}

.gridSections{
    margin: 0 10px;
    border-radius: 20px;
    background: linear-gradient(225deg, rgba(46, 5, 73, 0.8), rgba(16, 5, 24, 0.8));
    box-sizing: border-box;
    border: #2a252d solid 1px;
}

#gridSection1{
    grid-row: 1/3;
    height: 620px;
}
#gridSection2{
    position: relative;
    text-align: center;
    grid-column: 2/4;
    height: 290px;
}
#gridSection3{
    height: 290px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}
#gridSection4{
    grid-column: 3/4;
    grid-row: 2/4;
    height: 620px;
    margin-top: -20px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}
#gridSection5{
    grid-column: 1/3;
    height: 290px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    padding-left: 30px;
    overflow: hidden;
    margin-top: -20px;
    position: relative;
}

/********** grid section 2 implementation ************/

#fullName{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 64px;
    font-family: Russo One , serif;
    background: linear-gradient(-90deg, #00AEFF, #BB00FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#aboutMeText{
    position: absolute;
    top: 135px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 22px;
    font-family: Grandstander, system-ui;
    width: 70%;
    color: #ffffff;
}

#aboutMeSocialIconContainer{
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.aboutMeSocialIcons{
    font-size: 32px;
    transition-duration: 300ms;
    color: #ffffff;
}

#aboutMeSocialIconLN:hover{
    font-size: 35px;
    color: #0787d2;
}
#aboutMeSocialIconGH:hover{
    font-size: 35px;
    color: #666667FF;
}
#aboutMeSocialIconFB:hover{
    font-size: 35px;
    color: #0865FE;
}

#aboutMeSocialIconContainer > div {
    width: 50px;
    aspect-ratio: 1/1;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/************ grid section 3 implementation *********/

#gridSection3Text{
    color: #ffffff;
    font-family: Henny Penny, system-ui;
    font-size: 28px;
    line-height: 1.5;
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

#gridSection3ContactButton{
    color: #000000;
    width: 155px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    transition-duration: 500ms;
}

#gridSection3ContactButton:hover{
    color: #ffffff;
    background-color: #3b0769;
    bottom: 33px;
    box-shadow: 0 0 10px 1px #AF05ED ;
}

#gridSection3ContactButton > div{
    font-size: 22px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    position: relative;
    top: 10px;
}

/************ grid section 4 implementation *********/

#gridSection4ContactHolder{
    font-family: Inter, sans-serif;
    font-size: 18px;
    position: relative;
    top: 10px;
    left: 30px;
}

.gridSection4ContactIcons{
    font-size: 24px;
    margin: 0 5px;
}

.gridSection4Contacts{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#gridSection4GlobeHolder{
    width: 350px;
    height: 350px;
    position: absolute;
    background-color: rgba(255, 192, 203, 0.1);
    bottom: 0;
    right: -70px;
}


/************ grid section 5 implementation *********/

#gridSection5Text{
    font-size: 14px;
    margin-top: 260px;
    transition-duration: 500ms;
}

#gridSection5HiddenText{
    font-size: 18px;
    margin-top: 20px;
    transition-duration: 300ms;
}

#gridSection5:hover > #gridSection5Text{
    margin-top: 235px;
}

#gridSection5:hover > #gridSection5HiddenText{
    margin-top: 5px;
}

#gridSection5Img1, #gridSection5Img2, #gridSection5Img3{
    width: 170px;
    height: 300px;
    background-color: #0824e5;
    border: #553572 solid 2px;
    border-radius: 10px;
    position: absolute;
    transition-duration: 500ms;
}

#gridSection5Img1{
    right: 210px;
    bottom: -130px;
}

#gridSection5Img2{
    z-index: 1;
    right: 200px;
    bottom: -90px;
}

#gridSection5Img3{
    right: 190px;
    bottom: -130px;
}

#gridSection5:hover > #gridSection5Img1{
    right: 310px;
    rotate: -35deg;
}
#gridSection5:hover > #gridSection5Img3{
    right: 90px;
    rotate: 35deg;
}