

#education{
    width: 100%;
    height: 1090px;
    /*background-color: pink;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0;
}

#educationTopic{
    font-size: 64px;
    font-family: "Russo One", sans-serif;
    background: linear-gradient(60deg, #0EA2E7 20%, #433FE4, #AF05ED 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-bottom: 120px;
}

#educationTimeLine{
    width: 80%;
    height: 870px;
    margin-top: 50px;
    /*background-color: cyan;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eduLeftCards, .eduRightCards{
    width: 35%;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 1px;
    background:
            linear-gradient(60deg, #31064e, #000000FF) padding-box,
            linear-gradient(60deg, #0EA2E7, #AF05ED) border-box;

    border: 1px solid transparent;
}

.eduLeftCards{
    background:
            linear-gradient(220deg, #31064e, #000000FF) padding-box,
            linear-gradient(220deg, #0EA2E7, #AF05ED) border-box;
}
