

#education{
    width: 100%;
    height: 1090px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px ;
}

#educationTopic{
    font-size: 64px;
    font-family: "Russo One", sans-serif;
    background: linear-gradient(60deg, #0EA2E7 20%, #433FE4, #AF05ED 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-bottom: 120px;
}

#educationTimeLineContainer{
    width: 80%;
    height: 870px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.eduLeftCards, .eduRightCards{
    position: relative;
    width: 35%;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 1px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    color: #fff;
}

.eduLeftCards{
    background:
            linear-gradient(220deg, #31064e, #000000FF) padding-box,
            linear-gradient(220deg, #0EA2E7, #AF05ED) border-box;

    right: 25%;
    justify-content: end;
}

.eduRightCards{
    background:
            linear-gradient(60deg, #31064e, #000000FF) padding-box,
            linear-gradient(60deg, #0EA2E7, #AF05ED) border-box;

    left: 25%;
    justify-content: start;
}

.eduCardIcon{
    width: 64px;
    aspect-ratio: 1/1;
}

.eduLeftCardDisc{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
}

.eduRightCardDisc{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
}

.eduYears{
    font-size: 28px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.eduDisc{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    width: 80%;
}

.eduLeftCardDisc > .eduDisc{
    text-align: end;
}


.eduCardIcon > img{
    position: relative;
    top: 5px;
}


/********************* time Line ************************/

#eduTimeLine{
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    width: 4px;
    height: 600px;
    background: linear-gradient(to bottom, #0EA2E7, #AF05ED);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

#eduTimeLineDot1{
    background-color: #0EA2E7;
}

#eduTimeLineDot2{
    background-color: #456CE9;
}

#eduTimeLineDot3{
    background-color: #783BEB;
}

#eduTimeLineDot4{
    background-color: #AF05ED;
}

.eduTimeLineDots{
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    left: -8px;
}