

#footer{
    width: 100vw;
    height: 540px;
    margin-top: 100px;
    position: relative;
}

#footerImgHolder{
    width: 100%;
    height: 470px;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#mountains{
    position: absolute;
    width: 1540px;
    margin: auto;
}

#footerBlackGradient{
    width: 100%;
    height: 180px;
    background: linear-gradient(rgba(0, 0, 0, 0), black 60%);
    position: absolute;
    bottom: 0;
}

#infoContainer{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
}


#footerContactSection{
    height: 150px;
    color: #ffffff;
    position: absolute;
    left: 5vw;
    top: 0;
}

#footerLogo{
    font-size: 55px;
    font-family: Ewert, serif;
    margin-bottom: 30px;
}

#footerContactHolder{
    font-family: Inter, sans-serif;;
}

.footerContactIcons{
    font-size: 18px;
}

.footerContacts{
    margin-bottom: 10px;
}

#footerGeneralSocialContainer{
    width: 370px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 5vw;
    font-family: Inter, sans-serif;
}


#footerGeneral{
    position: absolute;
    left: 0;
}

#footerSocial{
    position: absolute;
    right: 0;
}

.footerTopics{
    font-size: 22px;
    color: #ffffff;
    text-decoration: underline;
}

.footerLists{
    list-style-type: none;
    position: relative;
    right: 35px;
}

.footerLists > li{
    height: 22px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.footerLists > #footerSocialIconFB, #footerSocialIconLN, #footerSocialIconGH{
    margin: 10px 0;
}

.footerLists > li > a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    transition-duration: 500ms;
}

.footerSocialIcons{
    font-size: 24px;
}

#footerSocialIconFB > a:hover{
    color: #0865FE;
    font-size: 18px;
}

#footerSocialIconGH > a:hover{
    color: #aa00ff;
    font-size: 18px;
}

#footerSocialIconLN > a:hover{
    color: #009dff;
    font-size: 18px;
}

.footerLinks > a:hover{
    color: #AF05ED;
    font-size: 18px;
}