

@media all and (max-width: 900px) {

    #footer{
        height: 840px;
    }

    #footerImgHolder{
        height: 450px;
        bottom: 100px;
    }

    #mountains{
        width: 1000px;
    }

    #footerBlackGradient{
        height: 250px;
    }

    #footerLogo{
        font-size: 40px;
        margin-bottom: 20px;
    }

    #footerGeneralSocialContainer{
        width: 280px;
    }

    .footerContacts{
        font-size: 14px;
    }

    .footerContactIcons{
        font-size: 16px;
    }

    .footerTopics{
        font-size: 18px;
    }

    .footerLists > li{
        font-size: 16px;
    }

    .footerSocialIcons{
        font-size: 22px
    }

}


@media all and (max-width: 700px){

    #footer{
        height: 900px;
    }

    #footerImgHolder{
        height: 350px;
        bottom: 250px;
    }

    #mountains{
        width: 700px;
    }

    #footerBlackGradient{
        height: 400px;
        background: linear-gradient(rgba(0, 0, 0, 0), black 30%);
    }

    #infoContainer{
        height: 290px;
    }

    #footerContactHolder{
        position: absolute;
        top: 0;
        right: 10vw;
        text-align: right;
    }

    #footerGeneralSocialContainer{
        top: 130px;
        left: 5vw;
        width: 90%;
    }

}

@media all and (max-width: 480px){

    #footer{
        height: 800px;
    }

    #footerLogo{
        font-size: 35px;
    }

    .footerContacts{
        font-size: 10px;
    }

    .footerContactIcons{
        font-size: 12px;
    }

    .footerTopics{
        font-size: 14px;
    }

    .footerLists > li{
        font-size: 12px;
        margin: 0;
    }


    .footerSocialIcons{
        font-size: 18px;
    }

    #footerSocialIconFB > a:hover{
        color: #0865FE;
        font-size: 12px;
    }

    #footerSocialIconGH > a:hover{
        color: #aa00ff;
        font-size: 12px;
    }

    #footerSocialIconLN > a:hover{
        color: #009dff;
        font-size: 12px;
    }

    .footerLinks > a:hover{
        color: #AF05ED;
        font-size: 12px;
    }

}