
#hero{
    margin-top: 80px;
    text-align: center;
    height: 1000px;
    color: #ffffff;
}

#introText{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    right: 340px;
    top: 80px;
    font-family: Inter, serif;
    letter-spacing: 3px;
}

#name{
    font-size: 150px;
    position: relative;
    top: 85px;
    font-family: Russo One , serif;
}

#writer{
    font-size: 30px;
    position: relative;
    top: 130px;
    font-family: serif;
    font-style: italic;
}

#orbitBox{
    width: 100vw;
    height: 300px;
    position: absolute;
    top: 500px;
}

#orbitHolder{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

#orbit1{
    width: 3660px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    top: 100px;
    left: calc(50vw - 1837px);
    background: linear-gradient(#470882 1%, black 3%);
}

#orbit2{
    width: 2760px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    top: 100px;
    left: calc(50vw - 1387px);
    box-shadow: 0 -40px 60px #7506E5;
}

#darkBox{
    height: 150px;
    position: absolute;
    top: 35px;
    left: 50px;
    right: 50px;
}