
#hero{
    margin-top: 80px;
    text-align: center;
}

#introText{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    right: 340px;
    top: 80px;
    font-family: Inter, serif;
    letter-spacing: 3px;
}

#name{
    font-size: 150px;
    position: relative;
    top: 85px;
    font-family: Russo One , serif;
}