
*{
    box-sizing: border-box;
}

body{
    background: #000000;
}

nav{
    width: 100vw;
    height: 84px;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;


}

#logo{
    margin-left: calc(5vw);
    font-family: Ewert, sans-serif;
    font-size: 45px;

    background: linear-gradient(60deg, #0EA2E7 20%, #433FE4, #AF05ED 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav > section{
    border: #ffffff solid 1px;
    width: 595px;
    height: 45px;
    position: absolute;
    right: 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

}

.navTabs{
    margin: 0 5px;
    color: #ffffff;
    font-family: sans-serif , system-ui;
    font-weight: bold;
    font-size: 18px;
    transition-duration: 400ms;
    padding: 5px 12px;
    border-radius: 20px;
}

.navTabs:hover{
    background-color: #2F2F32;
}

.navTabs:active{
    background-color: #ffffff;
    color: #000000;
}
