
*{
    box-sizing: border-box;
}

body{
    background: black;
}

nav{
    border: white solid 2px;
    width: 100vw;
    height: 84px;
    display: flex;
    align-items: center;
}

nav > p{
    margin-left: calc(5vw);
    font-family: Ewert, sans-serif;
    font-size: 55px;

    background: linear-gradient(60deg, #0EA2E7 20%, #433FE4, #AF05ED 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav > section{
    border: #ffffff solid 2px;
    width: 595px;
    height: 50px;
    position: absolute;
    right: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > section > div{
    margin: 0 16px;
    color: #ffffff;
    font-family: sans-serif , system-ui;
    font-weight: bold;
    font-size: 18px;
}