

#myProjects{
    width: 100%;
    padding-top: 200px;
    /*background-color: pink;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#myProjectSectionHolder{
    width: 90%;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myProject{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 50px 0;
    padding: 20px;
}

.myProjectPic{
    width: 50%;
    aspect-ratio: 16/9;
    background-color: blue;
    border-radius: 20px;
    border: black solid 1px;
}

.myProjectDescHolder{
    width: 45%;
}

.myProjectName{
    font-size: 36px;
    color: #fff;
    font-family: "Russo One", sans-serif;
}

.myProjectDesc{
    color: #b9b9b9;
    font-family: "Grandstander", cursive;
}

.myProjectsPoints{
    color: #b9b9b9;
    font-family: "Grandstander", cursive;
}

.myProjectsPoints > li{
    font-size: 13px;
    margin-bottom: 8px;
}

.myProjectsPoints > li::marker{
    content: "🚀 ";
    color: #663399FF;
    font-size: 1.2rem;
}

.myProjectsPoints > li > span{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.myProjectToolsHolder{
    display: flex;
    margin: 15px 0;
    padding: 0 30px;
}

.myProjectTools{
    width: fit-content;
    margin: 0 5px;
    padding: 2px 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    background-color: #232323;
    border-radius: 8px;
    border: #7a3fa3 solid 1px;
    border-top: #7a3fa3 solid 3px;
}

.myProjectTools > span{
    margin-left: 5px;
    font-size: 12px;
}

.myProjectLink{
    display: inline-block;
    text-decoration: none;
    margin-left: 35px;
    margin-top: 20px;
}

.myProjectBtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(14, 162, 231, 0.2), rgba(175, 5, 237, 0.2));
    border: rgba(46, 28, 238, 0.7) solid 1px;
    outline: none;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
}