

#myProjects{
    width: 100%;
    padding-top: 200px;
    /*background-color: pink;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

#myProjectSectionHolder{
    width: 90%;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myProject{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 50px 0;
    padding: 20px;
}


.myProjectPic{
    width: 50%;
    aspect-ratio: 16/9;
    border-radius: 20px;
    background-color: #11021b;
    position: relative;
}

.myProjectPic > div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
}

.myProjectPic::before, .myProjectPic::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    border-radius: 20px;
    background: conic-gradient(from 35deg, #00a8ff, #ff01eb, #00a8ff);
    z-index: -1;
    padding: 2px;
}

.myProjectPic::after{
    animation: myProjectBorderBlur 7s linear infinite;
    opacity: 60%;
}

@keyframes myProjectBorderBlur {
    0%{
        filter: blur(30px);
    }
    50%{
        filter: blur(10px);
    }
    100%{
        filter: blur(30px);
    }
}

.myProjectPicSection{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    animation: myProjectsShow 20s infinite;
}
@keyframes myProjectsShow {
    0%, 22%{
        left: 0;
    }
    25%, 47%{
        left: -100%;
    }
    50%, 72%{
        left: -200%;
    }
    75%, 97%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.myProjectPics{
    width: 100%;
}

.myProjectDescHolder{
    width: 45%;
}

.myProjectName{
    font-size: 36px;
    color: #fff;
    font-family: "Russo One", sans-serif;
}

.myProjectDesc{
    color: #b9b9b9;
    font-family: "Grandstander", cursive;
}

.myProjectsPoints{
    color: #b9b9b9;
    font-family: "Grandstander", cursive;
}

.myProjectsPoints > li{
    font-size: 13px;
    margin-bottom: 8px;
}

.myProjectsPoints > li::marker{
    content: "🚀 ";
    color: #663399FF;
    font-size: 1.2rem;
}

.myProjectsPoints > li > span{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.myProjectToolsHolder{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    margin: 20px 0 10px 0;
    padding: 0 30px;
}

.myProjectTools{
    width: fit-content;
    margin: 0 5px;
    padding: 3px 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    background:
            linear-gradient(#200330, #200330) padding-box,
            linear-gradient(210deg, #BD00FCFF, #09c7fc) border-box;
    border: 1px solid transparent;
}


.myProjectTools > span{
    margin-left: 5px;
    font-size: 12px;
}

.myProjectLink{
    display: inline-block;
    text-decoration: none;
    margin-left: 35px;
    margin-top: 20px;
}

.myProjectBtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(14, 162, 231, 0.2), rgba(175, 5, 237, 0.2));
    border: rgba(46, 28, 238, 0.7) solid 1px;
    outline: none;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
}