
nav > section{
    width: 390px;
}

/****************************************************************/

.cssSections{
    margin: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exerciseTopic{
    font-size: 64px;
    font-family: "Pacifico", cursive;
    font-weight: bold;
    background: linear-gradient(-90deg, #0EA2E7 0% ,#0A71EF 12.5%, #433FE4 25% ,#7412DA 37.5%, #AF05ED 50% ,
                                #7412DA 62.5%, #433FE4 75% ,#0A71EF 87.5% ,#0EA2E7 100%);
    background-size: 70vw 70vw;
    animation: ProjectTopicAnim 10s linear infinite forwards;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@keyframes ProjectTopicAnim {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 70vw;
    }
}

.exerciseSection{
    margin-top: 70px;
    width: 98%;
    display: grid;
    grid-gap: 50px 0;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.caseHolder{

}

.exerciseCaseCard{
    width: 400px;
    aspect-ratio: 40/31;
    background:
            linear-gradient(#11021b, #11021b) padding-box,
            linear-gradient(to bottom, #0EA2E7, #AF05ED) border-box;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exerciseImgLink{
    width: 90%;
    height: 70%;
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
}

.exImages{
    width: 100%;
    height: 100%;
    transition-duration: 500ms;
    filter: grayscale(60%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.exerciseCaseCard:hover .exImages{
    filter: grayscale(0);
}

.exImages:hover{
    scale: 104%;
}

#exImg1{
    background-image: url("../../assets/exercises/exercise1Case1.png");
}
#exImg2{
    background-image: url("../../assets/exercises/exercise1Case2.png");
}
#exImg3{
    background-image: url("../../assets/exercises/exercise1Case3.png");
}
#exImg4{
    background-image: url("../../assets/exercises/exercise1Case4.png");
}
#exImg5{
    background-image: url("../../assets/exercises/exercise1Case5.png");
}
#exImg6{
    background-image: url("../../assets/exercises/exercise1Case6.png");
}

#exImg7{
    background-image: url("../../assets/exercises/exercise2Case1.png");
}
#exImg8{
    background-image: url("../../assets/exercises/exercise2Case2.png");
}
#exImg9{
    background-image: url("../../assets/exercises/exercise2Case3.png");
}
#exImg10{
    background-image: url("../../assets/exercises/exercise2Case4.png");
}
#exImg11{
    background-image: url("../../assets/exercises/exercise2Case5.png");
}
#exImg12{
    background-image: url("../../assets/exercises/exercise2Case6.png");
}

.caseNumber{
    margin-top: 5px;
    font-size: 32px;
    color: #fff;
    text-shadow: 0 0 8px #d172ff;
}

.exerciseCaseCard > a{
    text-decoration: none;
}

.exerciseBtn{
    margin-top: 5px;
    width: 100px;
    height: 35px;
    background: linear-gradient(90deg, rgba(14, 162, 231, 0.2), rgba(175, 5, 237, 0.2));
    border: rgba(46, 28, 238, 0.7) solid 1px;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
    scale: 90%;
    transition-duration: 500ms;
}

.exerciseBtn:hover{
    scale: 95%;
    box-shadow: 0 0 7px 1px rgba(46, 28, 238);
    background-color: blue;
}
